.unordered-list li {
  margin-bottom: .8rem;
  margin-left: 2.4rem;
  padding-left: 1.7rem;
}

.ordered-list li {
  margin-bottom: .7rem;
  margin-left: 2.4rem;
  padding-left: 1.5rem;
}

.preparation .unordered-list li {
  margin-bottom: .7rem;
    
}

.preparation .unordered-list li::marker {
  color: var(--preparation-title-color);
  font-weight: 700;
  font-size: 1.2rem;
}

.ingredients .unordered-list li::marker {
  color: var(--subtitles-color);
  font-weight: 700;
  font-size: 1.2rem;
}


.ordered-list li::marker {
  color: var(--subtitles-color);
  font-weight: 700;
  font-size: 1.5rem;
}


