html {
  font-size: 63.5%;
}

body {
  max-width: var(--desktop-width);
  background-color: var(--body-background-color);
  margin: 0 auto;
  display: flex;
  justify-content: center;

  font-family: var(--sans-serif-font);
  font-size: 1.6rem;
  
}


/* GENERALS */

.subtitle {
  font-family: var(--serif-font);
  color: var(--subtitles-color);
  font-size: 2.8rem;
  font-weight: 500;
}

.text {
  line-height: 2.4rem;
  font-weight: 400;
  color: var(--text-color);
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--line-color);
}


/* MAIN */
.main {
  max-width: 72.5rem;
  margin: 10rem 0;
  background-color: var(--main-background-color);
  height: fit-content;
  padding: 4rem;
  border-radius: 3rem;
}


/* RECIPE */
.recipe img {
  width: 100%;
  border-radius: 1rem;
}

.recipe h1 {
  font-size: 3.9rem;
  font-weight: 400;
  margin: 3rem 0 1.6rem;
  font-family: var(--serif-font);
}


/* PREPARATION */
.preparation {
  padding: 2.6rem 2.6rem 2rem;
  background-color: var(--preparation-background-color);
  border-radius: 1rem;

  margin: 3rem 0 3.6rem;

}

.preparation h3 {
  color: var(--preparation-title-color);
  font-size: 1.9rem;
  margin-bottom: 1.4rem;
  
}

.preparation ul li span {
  font-weight: 700;
  margin-right: .4rem;
}


/* INGREDIENTS */
.ingredients {
  padding-bottom: 2rem;
  
}

.ingredients h2 {
  margin-bottom: 2.4rem;
}


/* INSTRUCTIONS */
.instructions {
  padding-bottom: 2rem;

}

.instructions h2 {
  margin: 2.8rem 0 1.8rem;
}


/* NUTRITION */
.nutrition {
  padding-bottom: 2rem;

}

.nutrition h2 {
  margin: 2.8rem 0 1.8rem;
}


/* NUTRITION TABLE */
.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.6rem;
}




td {
  border-bottom: 1px solid var(--line-color);
  padding: 1.4rem 3rem 1.2rem;
}


td:last-child {
  width: 53%;
  color: var(--subtitles-color);
  font-weight: 700;
}

tr:last-child td {
  border: none;
}

/* ATTRIBUTION */
.attribution {
    margin-top: 2rem;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
